body {
    background-color: coral;
}
  
  h1{
      text-align: center;
      background-color: black;
      color: coral;
  }

  img{
      max-width: 30%;
      height: auto;
      
  }

  .contentContainer {
      display: flex;  
      
       	 
  }

  .contentContainer_left {
    display: flex;  
    /* flex-wrap: wrap;
    justify-content: space-around; */
  }

  .fishList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .contentContainer_right {
    border-style:solid;
    flex: 1;
  }     
 
